@page
@inject MvcHelper MvcHelper
@inject IDisplayNameCollector<Code.EmptyPageModel> displayNameCollector;
@model Code.EmptyPageModel
@{
    ViewData["Title"] = "Features";
    MvcHelper.SetActiveSubMenuItem(ViewData, "Features");

    var features = new FeatureViewModel();

    displayNameCollector.Collect(x => features.IsActive, Html)
                        .Collect(x => features.Position, Html)
                        .Collect(x => features.Name, Html);
}

<section id="app" v-cloak>
    <index-page api-url="@Url.Action("Get", "Features")"
                :display-names='@displayNameCollector.ToJson()'
                title="Features"
                new-entity-title="New Feature"
                new-entity-url="@Url.Page("New")"
                view-entity-url="@Url.Page("View", new { id = "_id_" }).Replace("/_id_", string.Empty)"></index-page>
</section>

@section Scripts {
    <environment include="Development">
        <script src="~/assets/building/features/index/app.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/assets/building/features/index/app.min.js" asp-append-version="true"></script>
    </environment>
}
